@use '../styles/variables' as *;

.developer-cta {
  display: flex;
  flex-direction: column;
  gap: $size-3;
  padding: $size-3 $size-5;
  background-color: $color-bg;
  border-bottom: 1px solid $color-outline;

  &__image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: $corner-extra-large;
  }

  &__card {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: $size-2;
    padding: $size-4;
    background-color: $color-white;
    border: $border-width-medium solid $color-on-primary;
    border-radius: $corner-extra-large;
  }

  &__title {
    margin: 0;
    color: $color-on-primary;
    font-family: $font-family-primary;
    font-size: $font-headline-large;
    font-weight: $font-weight-bold;
    line-height: 100%;
  }

  &__description {
    margin: 0;
    color: $color-on-bg;
    font-family: $font-family-primary;
    font-size: $font-body-medium;
    line-height: 1.4;
  }

  &__button {
    width: fit-content;
    padding: 10px 20px;
    color: $color-on-primary;
    background-color: $color-primary;
    border: $border-width-medium solid $color-on-primary;
    border-radius: $corner-small;
    font-family: $font-family-primary;
    font-size: $font-label-large;
    font-weight: $font-weight-bold;
    cursor: pointer;
  }

  &__contact {
    margin: 0;
    color: $color-on-bg-low;
    font-family: $font-family-primary;
    font-size: $font-label-small;
  }
}